/* Set box-sizing property and hide scrollbar for all elements in the webpage */
* {
    box-sizing: border-box;
  }

*::-webkit-scrollbar {
    display: none;
  }

img {
    max-width: 100%;
  }

/* Styling for the header section of the webpage */
header {
    background-color: #b08400;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: Open Sans;
    font-style: italic;
  }

h1 {
      margin: 0;
      font-size: 2.5rem;
  }

/* Styling for the navigation bar links */
nav {
      background-color: #d6a100;
      color: #fff;
      padding: 10px 20px;
  }

nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
  }

nav li {
      flex-grow: 1;
  }

a.nav {
      display: block;
      text-align: center;
      padding: 10px;
      color: #fff;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.15em;
      font-weight: bold;
      text-decoration: none;
      transition: all 0.3s ease;
      border-radius: 30px;
  }

a.nav:hover {
      background-color: #bd9102;
  }

/* Styling for elements in the body section of the webpage */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
	padding: 0;
  }

/* Styling for rows and columns containing cards */
.column {
    float: left;
    width: 33%;
    padding: 0 2.3%;
  }

.row {
    padding-left: 2.8%;
    width: 98%;
  }

.row-1 {
    width: 100%;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
  }

/* Styling for card container */
.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 1px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.19);
    transition: transform 0.3s ease-in-out;
    padding: 15px;
  }

.card-container-1 {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-bottom: 30px;
  }

.card-1 {
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.3s ease-in-out;
    width: 100%;
    display: flex;
  }

/* Add animated effect to card when hovering cursor over it */
.card:hover {
    transform: translateY(-5px);
  }

.card-1:hover {
    transform: translateY(-5px);
  }

