/* Set box-sizing property and hide scrollbar for all elements in the webpage */
* {
    box-sizing: border-box;
  }

*::-webkit-scrollbar {
    display: none;
  }

img {
    max-width: 100%;
  }

/* Styling for the header section of the webpage */
header {
    background-color: #b08400;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: Open Sans;
    font-style: italic;
  }

h1 {
      margin: 0;
      font-size: 2.5rem;
  }

/* Styling for the navigation bar links */
nav {
      background-color: #d6a100;
      color: #fff;
      padding: 10px 20px;
  }

nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
  }

nav li {
      flex-grow: 1;
  }

a.nav {
      display: block;
      text-align: center;
      padding: 10px;
      color: #fff;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.15em;
      font-weight: bold;
      text-decoration: none;
      transition: all 0.3s ease;
      border-radius: 30px;
  }

a.nav:hover {
      background-color: #bd9102;
  }

/* Styling for elements in the body section of the webpage */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
	padding: 0;
  }

/* Styling for rows and columns containing cards */
.column {
    float: left;
    width: 33%;
    padding: 0 2.3%;
  }

.row {
    padding-left: 2.8%;
    width: 98%;
  }

.row-1 {
    width: 100%;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
  }

/* Styling for card container */
.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 1px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.19);
    transition: transform 0.3s ease-in-out;
    padding: 15px;
  }

.card-container-1 {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-bottom: 30px;
  }

.card-1 {
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.3s ease-in-out;
    width: 100%;
    display: flex;
  }

/* Add subtle animated effect to card when hovering cursor over it */
.card:hover {
    transform: translateY(-5px);
  }

.card-1:hover {
    transform: translateY(-5px);
  }

/* Styling for news article images contained inside the card */
.card-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
.img-square-wrapper {
    width: 40%;
    padding-right: 20px;
  }

.img-square-wrapper-1 {
    width: 40%;
    padding-left: 20px;
    order: 2;
  }

.img-square-wrapper img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

.img-square-wrapper-1 img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

/* Styling for card body contained news article description and link */
.card-body-1 {
    padding-bottom: 15px;
    width: 60%
  }

.card-body-2 {
    padding-left: 15px;
    padding-bottom: 15px;
    width: 60%
  }

/* Styling for news article hyperlink inside card body container */
a.button:link, a.button:visited {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
    border-radius: 20px;
  }

a.button:hover, a.button:active {
    background-color: #bd3d2a;
  }

/* Styling for search bar at bottom of webpage with colour transitions when clicked */
input[type=text] {
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    margin-bottom: 8px;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    transition: all 0.3s ease
  }

input[type=text]:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 6px #4CAF50;
  }

/* Styling for search bar icon */
.search-icon {
    position: relative;
    width: 65px;
    height: 65px;
    bottom: 90%;
    right: 30.5%;
    transform: translateY(40%);
    transition: all 0.3s ease;
    opacity: 50%;
  }
