/* Set box-sizing property and hide scrollbar for all elements in the webpage */
* {
    box-sizing: border-box;
  }

*::-webkit-scrollbar {
    display: none;
  }

img {
    max-width: 100%;
  }

/* Styling for header section of the webpage */
header {
      background-color: #b08400;
      color: #fff;
      padding: 20px;
      text-align: center;
      font-family: Open Sans;
      font-style: italic;
  }

h1 {
    margin: 0;
    font-size: 2.5rem;
  }

/* Styling for navigation bar including hyperlinks */
nav {
      background-color: #d6a100;
      color: #fff;
      padding: 10px 20px;
  }

nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
  }

nav li {
      flex-grow: 1;
  }

a.nav {
      display: block;
      text-align: center;
      padding: 10px;
      color: #fff;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.15em;
      font-weight: bold;
      text-decoration: none;
      transition: all 0.3s ease;
      border-radius: 30px;
  }

a.nav:hover {
      background-color: #bd9102;
  }

/* Styling for elements in the body section of the webpage */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }

/* Styling for column containing cards */
.column {
    width: 60%;
    display: block;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
  }

/* Styling for card container */
.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    background-color: white;
    border-radius: 1px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.19);
    transition: transform 0.3s ease-in-out;
    padding: 15px;
  }

.card:hover {
    transform: translateY(-5px);
  }

/* Styling for news article images contained inside the card */
.card-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

/* Styling for news article hyperlink contained inside card */
a.button:link, a.button:visited {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
  }

a.button:hover, a.button:active {
    background-color: red;
  }
