<html lang="en">

<!-- Head section defines webpage title, css styling directories, typeface source -->  
<head>
    <meta charset="UTF-8">
    <title>News Aggregator Website</title>
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>
<header>
    <h1>News Aggregator</h1>
</header>

<!-- Navigation pane to access different news categories -->    
<nav>
    <ul>
        <li><a href="/" class="nav">Home</a></li>
        <li><a href="/news/politics" class="nav">Politics</a></li>
        <li><a href="/news/business" class="nav">Business</a></li>
        <li><a href="/news/technology" class="nav">Technology</a></li>
        <li><a href="/news/sports" class="nav">Sports</a></li>
        <li><a href="/news/entertainment" class="nav">Entertainment</a></li>
    </ul>
</nav>    

<main>
    <!-- Latest news section of home page -->
    <section>
        <h2 style="margin-left: 4.7%; font-size: 2.5em">Latest News</h2>

        <!-- Display each news article under general category in horizontal card layout -->
        {% for new in latest_news %}

        <div class="card-container-1">
            <div class="row-1">
                <div class="card-1">
                    <div class="img-square-wrapper">
                        <img class="image-1" src="{{ new.latests[0].urlToImage }}" alt="{{ new.latests[0].title }}">
                    </div>
                    <div class="card-body-1">
                        <h4 class="card-title" style="font-size: 1.5em">{{ new.latests[0].title }}</h4>
                        <p class="card-text" style="font-size: 1.0em">{{ new.latests[0].description }}</p>
                        <br>
                        <a class="button" href="{{ new.latests[0].url }}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-container-1">
            <div class="row-1">
                <div class="card-1">
                    <div class="img-square-wrapper-1">
                        <img class="image-1" src="{{ new.latests[1].urlToImage }}" alt="{{ new.latests[1].title }}">
                    </div>
                    <div class="card-body-2">
                        <h4 class="card-title" style="font-size: 1.5em">{{ new.latests[1].title }}</h4>
                        <p class="card-text" style="font-size: 1.0em">{{ new.latests[1].description }}</p>
                        <br>
                        <a class="button" href="{{ new.latests[1].url }}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

    </section>    
