<html lang="en">

<!-- Head section defines webpage title, css styling directories, typeface source -->  
<head>
    <meta charset="UTF-8">
    <title>News Aggregator Website</title>
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>
<header>
    <h1>News Aggregator</h1>
</header>

<!-- Navigation pane to access different news categories -->    
<nav>
    <ul>
        <li><a href="/" class="nav">Home</a></li>
        <li><a href="/news/politics" class="nav">Politics</a></li>
        <li><a href="/news/business" class="nav">Business</a></li>
        <li><a href="/news/technology" class="nav">Technology</a></li>
        <li><a href="/news/sports" class="nav">Sports</a></li>
        <li><a href="/news/entertainment" class="nav">Entertainment</a></li>
    </ul>
</nav>    
